# Data and files to ignore
DATA1/
morocco_shapefile/
results/
climate_env/
temp/results/
temp/results_test/
temp/results_test_app1/
temp/results_test_app2/
temp/exploration/
temp/postproc/mean/QQ/
temp/postproc/
temp/prediction/
quick_hist_summary.csv
glm_pixel_explanation.csv
temp/XAI/
temp/main/inspect_glm.py
#temp/postproc/bano_compare/
temp/postproc/_runs/
temp/postproc/comparison_model/
precip
CRNM
# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
log.txt

#configs
temp/main/configs/unet/lmdz*.yaml
temp/postproc/**/lmdz*.yaml