# Data and files to ignore
DATA1/
morocco_shapefile/
results/
climate_env/
temp/results/
temp/results_test/
temp/exploration/
temp/postproc/mean/QQ/
temp/prediction/
quick_hist_summary.csv
# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
log.txt
