# --- Autoriser le suivi exclusif des graphiques PNG de post-traitement ---
# Data and files to ignore
DATA1/
morocco_shapefile/
results/
climate_env/
temp/era5_mswt/results/
temp/era5_mswt/results_test/
temp/era5_mswt/results_test_app1/
temp/era5_mswt/results_test_app2/
temp/era5_mswt/exploration/
temp/era5_mswt/postproc/mean/QQ/
temp/era5_mswt/prediction/
quick_hist_summary.csv
glm_pixel_explanation.csv
temp/era5_mswt/XAI/
temp/era5_mswt/main/inspect_glm.py
#temp/era5_mswt/postproc/bano_compare/
precip
CRNM
# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
*.bak
log.txt

#configs
temp/era5_mswt/main/configs/unet/lmdz*.yaml
temp/era5_mswt/postproc/**/lmdz*.yaml
# --- Autoriser le suivi exclusif des graphiques PNG de post-traitement ---
!temp/era5_mswt/postproc/results/
temp/era5_mswt/postproc/results/**/*
!temp/era5_mswt/postproc/results/**/
!temp/era5_mswt/postproc/results/**/*.png
